h1{
    color:indigo;
}
img {
width: 400px;
}
#thirdDiv{
height: 600px;
width: 500px;
background-color: aquamarine;
padding: 50px;
border-width: 40px;
border-style: solid;
border-color: brown;
}
#spanId{
font-size: 18px;
margin: 50px;
}